<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRtVXIXO71-bA694yXkmdMcFXElW1r_ZhwUpZOhTx3zV--11naM&usqp=CAU" width="70" height="50">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/data">Datasets</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Visualization
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/default_per_ind">Default and Paid in Full Count per Industry</a>
          <a class="dropdown-item" href="/default_per_state">Default and Paid in Full Count per State</a>
          <a class="dropdown-item" href="/default_per_year">Default and Paid in Full Count per Year</a>
          <!-- <a class="dropdown-item" href="#">Something else here</a> -->
        </div>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li> -->
    </ul>
  </div>
</nav>