{% extends 'layout.html'%}

{% block body %}
    <table class="table" style="background-color: white !important;">
        <thead>
            <tr>
                {% for item in data.columns %}
                    <th>{{item}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for index, item in data.iterrows() %}
                <tr>
                    {%for col in item %}
                        <td>{{col}}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock body %}